body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* margin: 50px; */
    background: #f4f4f4;
}
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
input, button {
    width: 80%;
    padding: 10px;
    margin: 10px;
}
#downloadLink{
    background-color: rgb(136, 255, 0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}